Source: libdqrobotics-interface-json11
Section: devel
Priority: optional
Maintainer: Murilo Marinho <murilomarinho@ieee.org>
Build-Depends: cmake, libeigen3-dev, git, libdqrobotics
Homepage: https://dqrobotics.github.io/

Package: libdqrobotics-interface-json11
Architecture: any
Depends: libdqrobotics
Description: DQ Robotics interface with json11
 The dual quaternion robotics library interface with json11.
